[Unit]
Description=Avahi Next Generation discovery daemon
After=network-online.target

[Service]
WorkingDirectory=/etc/avahi-ng
ExecStart=/usr/bin/python3 /etc/avahi-ng/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
